body{
    font-family: 'Tangerine', serif;
    background-color:#ffff;
    font-size:20px;
    margin:0;
    padding:0;
}
#nav_bar{
    margin-bottom: 9px;
    padding:0;
    background-color: blueviolet;
}